In [1]:
!pip install sqlalchemy
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/igor/.local/lib/python3.10/site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/igor/.local/lib/python3.10/site-packages (from sqlalchemy) (3.1.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in /usr/lib/python3/dist-packages (2.9.2)

In [2]:
from sqlalchemy import create_engine
dbschema = 'company'
engine = create_engine('postgresql+psycopg2://postgres:secret@localhost:5431/postgres')

In [3]:
from sqlalchemy import Table, Column, Integer, String, MetaData
metadata = MetaData()
projects = Table('projects', metadata, autoload_with=engine, schema=dbschema)
tasks = Table('tasks', metadata, autoload_with=engine, schema=dbschema)
task_history = Table('task_history', metadata, autoload_with=engine, schema=dbschema)
departments = Table('departments', metadata, autoload_with=engine, schema=dbschema)
position = Table('position', metadata, autoload_with=engine, schema=dbschema)
employees = Table('employees', metadata, autoload_with=engine, schema=dbschema)
achievements = Table('achievements', metadata, autoload_with=engine, schema=dbschema)
transaction = Table('transaction', metadata, autoload_with=engine, schema=dbschema)
tasks_X_employees = Table('tasks_x_employees', metadata, autoload_with=engine, schema=dbschema)
projects_X_employees = Table('projects_x_employees', metadata, autoload_with=engine, schema=dbschema)
metadata.reflect(bind=engine)

In [4]:
conn = engine.connect()

## CRUD-запросы

In [5]:
ins = employees.insert().values(employee_name='ORM_employee', position_id=3, hiring_date='2023-10-09', salary=150000)

In [6]:

conn.execute(employees.insert(), [
   {'employee_name':'ORM2', 'position_id':3, 'hiring_date':'2023-11-23', 'salary': 123123},
   {'employee_name':'ORM3', 'position_id':4, 'hiring_date':'2020-10-20', 'salary': 234234},
   {'employee_name':'ORM4', 'position_id':9, 'hiring_date':'2019-09-15', 'salary': 101010}])
conn.commit()

In [7]:
import pandas as pd
def print_as_frame(result):
    keys = result.keys()
    df = pd.DataFrame.from_records(result.fetchall(), columns = keys)
    print(df.to_string(),end='')

In [8]:
from sqlalchemy import Date, select

columns = [transaction.c.timestamp.cast(Date).label('date'),
           transaction.c.transaction_amount.label('amount'),
           transaction.c.bank_account]

sel = select(*columns).where(transaction.c.transaction_amount > 50000).order_by(transaction.c.transaction_amount.desc())
res = conn.execute(sel)
print_as_frame(res)

         date  amount bank_account
0  2024-06-01  100000   5566778899
1  2024-05-01   90000   2233445566
2  2024-06-01   60000   3344556677

In [9]:
from sqlalchemy import and_
from sqlalchemy.sql.expression import func

upd = position.update().where(and_(func.length(position.c.department_name) > 2, position.c.position_name.like('%Директор%'))) \
.values(position_name="Самый лучший "+position.c.position_name)
upd_res = conn.execute(upd)

In [10]:
conn.commit()

In [11]:
delete = employees.delete().where(employees.c.employee_name.like('%ORM%'))
conn.execute(delete)
conn.commit()

## Итоги выплат
Первый запрос выводит растущий итог выплат сотрудникам по отделам и месяцам

In [12]:
from sqlalchemy.sql import alias

e = employees.alias("e")
p = position.alias("p")
t = transaction.alias("t")
month = func.date_part('month', t.c.timestamp).cast(Integer).label('month')
join_res = (t).join(e, e.c.employee_id == t.c.employee_id).join(p, p.c.position_id == e.c.position_id)
q = select(month, p.c.department_name, e.c.employee_name, func.sum(t.c.transaction_amount)
                 .over(partition_by=[month, p.c.department_name], order_by=e.c.employee_name).label('running_total')).order_by(month).select_from(join_res)
print(q.compile())
print()
result = conn.execute(q)
print_as_frame(result)

SELECT CAST(date_part(:date_part_1, t.timestamp) AS INTEGER) AS month, p.department_name, e.employee_name, sum(t.transaction_amount) OVER (PARTITION BY CAST(date_part(:date_part_1, t.timestamp) AS INTEGER), p.department_name ORDER BY e.employee_name) AS running_total
FROM company.transaction AS t JOIN company.employees AS e ON e.employee_id = t.employee_id JOIN company.position AS p ON p.position_id = e.position_id ORDER BY month

   month department_name       employee_name  running_total
0      2              ML     Strazdina Alisa           7000
1      5              ML   Novitsky Grigoriy          90000
2      5              ML       Saprygin Igor          95000
3      6         Backend  Abdulkadirov Timur         100000
4      6         Backend     Okorokov Nikita         109000
5      6              ML     Strazdina Alisa          60000
6      9     Engineering      Belkova Ksenia          10000

In [13]:
ins2 = tasks_X_employees.insert()

rows = [
    {'task_id': 1, 'employee_id': 3},
    {'task_id': 1, 'employee_id': 1},
    {'task_id': 2, 'employee_id': 1},
    {'task_id': 2, 'employee_id': 3},
    {'task_id': 4, 'employee_id': 3},
    {'task_id': 6, 'employee_id': 7},
    {'task_id': 3, 'employee_id': 7},
    {'task_id': 5, 'employee_id': 7},
    {'task_id':5, 'employee_id':2},
    {'task_id':6, 'employee_id':3},
    {'task_id':3, 'employee_id':2}
]
result = conn.execute(ins2, rows)
conn.commit()

## Уровень загруженности сотрудников
Следующий запрос выводит таблицу загруженности по отделам

In [14]:
total = func.count(tasks_X_employees.c.task_id).label('total')
q_task_total = select(e.c.position_id, e.c.employee_name, total).group_by(e.c.position_id,e.c.employee_name) \
.having(total > 1).select_from((e).join(tasks_X_employees, tasks_X_employees.c.employee_id==e.c.employee_id))
qtt = q_task_total.alias('qtt')
another_join = (qtt).join(p, p.c.position_id==qtt.c.position_id)
q2 = select(p.c.department_name, qtt.c.employee_name, qtt.c.total, func.dense_rank()
            .over(partition_by=p.c.department_name, order_by=qtt.c.total.desc()).label('rank')).select_from(another_join)
print_as_frame(conn.execute(q2))

  department_name       employee_name  total  rank
0         Backend  Abdulkadirov Timur      4     1
1     Engineering      Belkova Ksenia      3     1
2     Engineering           Nam Alina      2     2
3              ML       Saprygin Igor      4     1

In [15]:
from sqlalchemy import tuple_

del_q = tasks_X_employees.delete().where(
    tuple_(tasks_X_employees.c.task_id, tasks_X_employees.c.employee_id).in_(
        [(row['task_id'], row['employee_id']) for row in rows]
    )
)

result = conn.execute(del_q)
conn.commit()

In [16]:
conn.close()